.search-player {
  background-color: #b5b5b5;
  padding: 0.001em;
  display: flex;
  justify-content: center;
}

aside.player-profile {
  margin-top: 20px;
  background-color :#f4a235;
  display:flex;
  justify-content: space-between;
  --profile-card-margin: 10px
}

/*Size for the profile picture : 64px*/
aside.player-profile img {
  width: 64px;
  height: 64px;
}

aside.player-profile .picture-and-nickname {
  margin: var(--profile-card-margin);
  display: flex;
  flex-direction: row;
}

aside.player-profile .picture-and-nickname .nickname {
  padding-left: 5px;
}


aside.player-profile .profile-info {
  margin: var(--profile-card-margin);
  display: flex;
  flex-direction: column;
}

aside.player-profile .follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  padding-left: 1em;
  padding-right: 1em;
  transition: 0.2s background-color;
  color: white;
}

aside.player-profile .follow:hover {
  background-color: darkorange;
}
