img {
  white-space: pre-wrap;
}

.game-title {
  padding: 5px 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 16pt;
  max-width: 50%;
}

.price, .publisher {
  margin: 10px;
}

article.game {
  background-color: #f4a235;
  padding: 10px;
}

.global-informations {
  display: flex;
}

.mark {
  padding: 10px;
  margin-left: auto;
}

article aside {
  display: flex;
}


aside.player-critic {
  margin-top: 20px ;
  background-color:#f4a235;
  padding: 10px;
}

/*Size for the profile picture: 64px*/
aside.player-critic img {
  width: 64px;
  height: 64px;
}

aside.player-critic .post-infos {
  display: flex;
  flex-direction: row;
}

aside.player-critic .post-infos .username {
  font-weight: 700;
  font-size: 14pt;
  padding: 5px 15px;
}

.publication-date {
  padding: 10px;
  margin-left: auto;
}

aside.player-critic .karma-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

aside.player-critic .karma {
  margin: 1em 0.25em;
}

aside.player-critic .like, aside.player-critic .dislike {
  border-radius: 100%;
  text-align: center;
  height: 3em;
  width: 3em;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

aside.player-critic .like:hover, aside.player-critic .dislike:hover {
  color: black;
}
