body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #b5b5b5;
}

footer{
    background-color: #b5b5b5;
}

img{
    white-space: pre-wrap;
}

h2{
    padding: 5px;
}

h4{
    margin-left: 10px;
    margin-right: 10px;
}




section{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}


h1{
    text-align: center;
}
article{
    background-color :#f4a235;
    padding:10px;
}

#global_informations{
    display: flex;
    margin:0;
    padding: 0;

}

#mark{
    padding: 10px;
    margin-left: auto;


}

article aside{
    display: flex;

}





aside.player_critic{
    margin-top: 20px ;
    background-color :#f4a235;
    padding: 10px;
}
/*Size for the profile picture : 64px*/
aside.player_critic img{
    width: 64px;
    height: 64px;

}
aside.player_critic .informations_of_the_post{
    display: flex;
    flex-direction: row;
}

aside.p{

}
.publication_date{
    padding: 10px;
    margin-left: auto;


}


aside.player_critic .button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


aside.player_critic .like{
    border-radius: 100%;
    background-color: #b5b5b5;
    text-align: center;
    height : 50px;
    width : 50px;
}
aside.player_critic .dislike{
    border-radius: 100%;
    background-color: #b5b5b5;
    text-align: center;
    height : 50px;
    width : 50px;
}
