/* Reset css */
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

header
{
  background-color: orange;
  display: flex;
  align-content: center;
}

#recherche
{
  text-align: center;
  width: 50%;
  align-self: center;
  background-color: orange;
}

#div_logo
{
  /* background-color: blue; */
  width: 25%;
}
#logo
{
  width: 28.5%;
  height: 100%;
  border-right: 2px solid black;
}

#div_account
{
  /* background-color: blue; */
  width: 25%;
  text-align: right;
}



footer
{
  background-color: orange;
}
