img {
  white-space: pre-wrap;
}

.game-title {
  padding: 5px 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 16pt;
  max-width: 50%;
}

.price, .publisher {
  margin: 10px;
}

.game {
  background-color: #f4a235;
  padding: 10px;
}

.global-informations {
  display: flex;
}

.mark {
  padding: 10px;
  margin-left: auto;
}


.player-critic {
  margin-top: 20px ;
  background-color:#f4a235;
  padding: 10px;
}

/*Size for the profile picture: 64px*/
.player-critic img {
  width: 64px;
  height: 64px;
}

.player-critic .post-infos {
  display: flex;
  flex-direction: row;
}

.player-critic .post-infos .username {
  font-weight: 700;
  font-size: 14pt;
  padding: 5px 15px;
  color: black;
}

.publication-date {
  padding: 10px;
  margin-left: auto;
}

.player-critic .karma-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.player-critic .karma {
  margin: 1em 0.25em;
}

.player-critic .like, .player-critic .dislike {
  border-radius: 100%;
  text-align: center;
  height: 3em;
  width: 3em;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s color;
}

.player-critic .like.active, .player-critic .dislike.active {
  color: white;
  transition: 0.15s color;
}

.player-critic .like:hover, .player-critic .dislike:hover {
  color: black;
}

.game-edition-buttons {
  display: flex;
  flex-direction: row;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.game-edition-buttons > * {
  background-color: #606060;
  color: pink;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
  transition: 0.2s background-color;
}

/* The popup form - hidden by default */
#form-popup {
  display: none;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 9;
  box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75);
}

#form-popup.visible {
  display: block;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: grey;
  color: pink;
  display: flex;
  flex-direction: column;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  display: block;
  background-color: rgba(255, 128, 0, 0.8);
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.2s background-color;
}

.form-container .btn:hover {
  text-decoration: none;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgba(255, 0, 0, 0.8);
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
  background-color: orange;
}

.form-container .btn.cancel:hover {
  background-color: red;
}

.game-edition-buttons > *:hover {
  background-color: gray;
  text-decoration: underline;
}


#user-comments-separation{
  background-color: #606060;
  color: pink;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 95%;
  transition: 0.2s background-color;
}