header {
  background-color: orange;
  display: flex;
  align-content: center;
  --header-height: 64px;
  height: var(--header-height);
}

#recherche {
  text-align: center;
  align-self: center;
  flex-grow: 1;
  height: var(--header-height);
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#recherche :nth-child(1) {
  margin-right: 0.5em;
}

#recherche input {
  background: orange;
  border: 1px solid darkslategray;
  border-radius: 2px;
  padding: 0.2em 0.3em;
  transition: 0.2s background, 0.2s border;
}

#recherche input:hover {
  border: 1px solid black;
}

#recherche input:focus {
  background: darkorange;
}

#logo {
  height: var(--header-height);
}

#account-login > a {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: inherit;
  transition: 0.2s background-color;
  color: white;
  height: var(--header-height);
}

#account-login > a:hover {
  background-color: darkorange;
}


nav.sidebar {
  background-color: grey;
  border: 2px solid black;

  width: 9em;
  flex-shrink: 0;
}

nav.sidebar > ul {
  list-style-type: none;
  margin: auto;
  padding-left: 0;
}

nav.sidebar > ul > li {
  margin: auto;
  height: 1.25em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #ffc77d;
  text-align: center;
  transition: 0.2s height, 0.5s background-color, 0.5s border, 0.4s color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

nav.sidebar > ul > li > a {
  color: inherit;
  width: 100%;
  display: block;
}

nav.sidebar > ul > li:hover{
  border: 1px solid orange;
  background-color: darkgray;
  height: 2em;
  color: white;
}

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: orange;
}

@media only screen and (max-width: 750px) {
  #recherche {
    display: none;
  }

  .sidebar {
    padding-right: 2em;
    left: -9em;
    position: absolute;
    transition: 0.5s left;
    z-index: 10;
  }

  .sidebar:hover, .sidebar:active {
    left: 0;
  }

  #main-horizontal {
    padding-left: 2em;
  }
}
