body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  text-align: center;
}

#main-horizontal {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

main {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 6em;
  flex-grow: 1;
}

nav.sidebar {
  background-color: grey;
  border-right: 2px solid black;
  border-top: 2px solid black;
  width: 14em;
  flex-shrink: 0;
}

nav.sidebar > ul {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

nav.sidebar > ul > li {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: pink;
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form > * {
  margin-bottom: 0.5em;
}

.main-form > input[type="submit"] {
  margin-top: 1.5em;
}

.main-form .dropdown-menu {
  margin-top: 1em;
}

.main-form .text-input > label {
  margin-right: 0.75em;
}

section.card-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  max-width: 50em;
  min-width: 30em;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a.center {
  display: block;
  text-align: center;
}

.gray {
  color: gray;
}

.player-profile {
  margin-top: 20px;
  background-color :#f4a235;
  display: flex;
  justify-content: space-between;
  --profile-card-margin: 10px;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.3), 0px 4px 11px -4px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition: 0.2s box-shadow;
}

.player-profile:hover {
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2), 0px 4px 11px -4px rgba(0, 0, 0, 0.3);
}

/*Size for the profile picture : 64px*/
.player-profile img {
  width: 64px;
  height: 64px;
}

.player-profile .picture-and-nickname {
  margin: var(--profile-card-margin);
  display: flex;
  flex-direction: row;
}

.player-profile .picture-and-nickname .nickname {
  padding-left: 5px;
}


.player-profile .profile-info {
  margin: var(--profile-card-margin);
  display: flex;
  flex-direction: column;
}

.player-profile .follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  padding-left: 1em;
  padding-right: 1em;
  transition: 0.2s background-color;
  color: white;
}

.player-profile .follow:hover {
  background-color: darkorange;
}
